---
import Layout from '../layouts/Layout.astro';
import Logo from "../components/Logo.astro";
---

<Layout title="DerTyp7214">
	<main>
		<Logo color="#AABBCC" size="700" borderRadius="50" />
	</main>
</Layout>